body{
    margin: 0px;
    padding: 0px;
    background-color: white;
    font-family: sans-serif;
}

#wrap{
    max-width: 1200px;
    margin: auto;
}

a, p, h1{
    font-family: agenda, san-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 1.5px;
}

p{
    
}


/*Header*/
nav{
    width: 80%;
    margin: auto;
    padding-top: 25px;
}

nav a{
    display: block;
    text-decoration: none;
    line-height: 50px;
    text-align: center;
    color: rgb(77, 77, 77);
    font-size: 25px;
    font-weight: bold;
}

#menu:hover{
    color: rgb(179, 179, 179);
    }
    #home:hover{
        color: rgb(179, 179, 179);
    }
    #design:hover{
        color: rgb(180, 2, 120);
    }
    #writing:hover{
        color: rgb(0, 160, 200);
    }
    #about:hover{
        color: rgb(64, 180, 41);
    }
    #contact:hover{
        color: rgb(255, 160, 1);
    }


.link{
    display: none;
}
.show{
    display: block;
}

@media screen and (min-width:600px){
    .link{
        display: block;
        float: left;
        width: 20%;
    }
    
    nav{overflow: auto;}
    #menu{display: none;}
}    



/*Footer*/
footer{
    //background-color: antiquewhite;
    height: 50px;
    width: 80%;
    margin: auto;
    margin-bottom: 20px;
}

footer img{
    height: 25px;
    display: inline-block;
    margin-right: 30px;
    margin-top: 20px;
}

/*footer p{
    font-size: 20px;
    line-height: 20px;
    margin-left: 10px;
    color: rgb(77, 77, 77);
    display: inline-block;
}*/



/*Home*/

.homebody{
    background-color: black;
}

#homed{
    color: white;
}

#homescript{
    width: 70%;
    margin: auto;
    max-width: 1000px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
    //background-color: beige;
}
.hmscript{
    margin: 50px;
    max-width: 1000px;
}
.hmscript img{
    max-width: 1000px;
}


@media screen and (max-width: 1200px){
    .hmscript img{
    max-width: 1000px;
    }
}
@media screen and (max-width: 1000px){
    .hmscript img{
    max-width: 600px;
    }
}
@media screen and (max-width: 800px){
    .hmscript img{
    max-width: 500px;
    }
}
@media screen and (max-width: 600px){
    .hmscript img{
        max-width: 400px;
    }
    .hmscript{
        margin: 5px;
    }
}



/*Page Scripts*/

.pagescript{
    width: 80%;
    margin: auto;
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
    //background-color: beige;
}

.pgscript{
    margin: 50px;
    max-width: 1000px;
    //background-color: black;
}
.pgscript img{
    max-width: 1000px;
    //background-color: aqua;
}

@media screen and (max-width: 1200px){
    .pgscript img{
    max-width: 700px;
    transition: .5s;
    margin-bottom: -10px;
    }
}
@media screen and (max-width: 1000px){
    .pgscript img{
        max-width: 600px;
        transition: .5s;
        margin-bottom: -30px;   
    }
}
@media screen and (max-width: 800px){
    .pgscript img{
        max-width: 500px;
        transition: .5s;
        margin-top: -50px;
        margin-bottom: -60px;
    }
}
@media screen and (max-width: 600px){
    .pgscript img{
        max-width: 350px;
        transition: .5s;
        margin-top: -50px;
        margin-bottom: -60px;
    }
    .hmscript{
        margin: 30px;
    }
}
    
@media screen and (max-width: 450px){
    .pgscript img{
        max-width: 200px;
        margin-top: -50px;
        margin-bottom: -70px;
    }
    .hmscript{
        margin: 10px;
    } 
}

@media screen and (max-width: 300px){
    .pgscript img{
        max-width: 150px;
        transition: .5s;
        margin-top: -55px;
        margin-bottom: -70px;
    }
    .hmscript{
        margin: 5px;
    }
}





/*Design*/
    
#designd{
    color: rgb(180, 2, 120);
}

#dmain{
    width: 80%;
    margin: auto;
    margin-top: 50px;
    //background-color: antiquewhite;
}

.images{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    //background-color: blue;
    overflow: hidden
}

.images a{
    //margin-bottom: 6%;
    width: 100%;
    //background-color: aqua;
}

.images img{
    //margin: 10%;
    margin-top: 0%;
    width: 100%;
}

.zoom{
    overflow: hidden;
    background-color: aquamarine;
    transform: scale(1);
    margin: 0;
    margin-bottom:4%;
    //margin-right: 0%;
}

.zoom img{
    transition: transform 0.4s;
    //background-color: pink;
    width:100%;
    margin-bottom: 0;
}

.zoom:hover img{
    transform: scale(1.15);
}


@media screen and (min-width:600px){
    
    .images{
        justify-content: center;
    }
    
    .images img{
        display: inline-block;
        width: 90%;
        //background-color: aquamarine;
    }
    
    .images a{
        display: inline-block;
        width: 44%;
        //background-color: beige;
    }
}
    
@media screen and (min-width:1000px){
    
    .images{
        justify-content: center;
    }
    
    .images img{
        display: inline-block;
        width: 90%;
        //background-color: aquamarine;
    }
    
    .images a{
        display: inline-block;
        width: 33%;
        //background-color: beige;
    }
}

@media screen and (max-width:450px){
    .images{
        justify-content: center;
        margin-top: -50px;
        transition: .5s;
    }
}

@media screen and (max-width:300px){
    .images{
        justify-content: center;
        margin-top: -80px;
        transition: .5s;
    }
}
    
    


    
    

/*Writing*/

#writingd{
    color: rgb(0, 160, 200);
}

#wmain{
    width: 80%;
    margin: auto;
    margin-top: 50px;
    //background-color: aqua;
}

.imagesw{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.imagesw a{
    margin-bottom: 6%;
    width: 80%;
    //background-color: aqua;
}

.imagesw img{
    margin-bottom: 6%;
    width: 100%;
}

@media screen and (min-width:600px){
    
    .imagesw{
        justify-content: center;
    }
    
    .imagesw img{
        display: inline-block;
        width: 90%;
        //background-color: aquamarine;
    }
    
    .imagesw a{
        display: inline-block;
        width: 44%;
        //background-color: beige;
    }
}

@media screen and (min-width:1000px){
    
    .imagesw{
        justify-content: center;
        //width: 80%;
    }
    
    .imagesw img{
        display: inline-block;
        width: 90%;
        //background-color: aquamarine;
    }
    
    .imagesw a{
        display: inline-block;
        width: 33%;
        //background-color: beige;
    }
    
}



/*About*/

#aboutd{
    color: rgb(64, 180, 41);
}

#amain{
    width: 80%;
    margin: auto;
    margin-top: 50px;
    //background-color: antiquewhite;
}

.aformat{
    display: flex;
    flex-wrap: wrap;
    //background-color: blue;
    justify-content: center;
}
    
.aformat img{
    width: 45%;
    height: 45%;
    //max-width: 400px;
    background-color: aqua;
    margin: 0;
}

#text{
    display: flex;
    flex-wrap: wrap;
    width: 45%;
    margin-left: 6%;
    min-width: 225px;
    //background-color: pink;
}

#hello{
    color: black;
    font-size: 40px;
    margin: 0px;
    margin-top: -10px;
}

.aboutph{
    color: black;
    line-height: 25px;
}
    
#aboutftr{
    margin-top: 250px;
    
}
    
@media screen and (max-width:800px){
    .aformat img{
        display: inline-block;
        width: 47%;
        //float: left;
    }
    
    #text{
        display: inline-block;
        width: 47%;
    }
    
    #hello{
        margin: 0px;
        margin-bottom: 10px;
        font-size: 35px;
    }
    
    .aboutph{
        display: inline-block;
        margin: 0px;
        margin-bottom: 10px;
        font-size: 15px;
        letter-spacing: 1;
    }
}   

@media screen and (max-width:598px){
    #amain{
        width: 70%;
    }
    
    .aformat img{
        display: inline-block;
        width: 80%;
        //min-width: 400px;
        background-color: aqua;
        margin-bottom: 15px;
    }
    
    #text{
        display: inline-block;
        width: 80%;
        //background-color: pink;
        margin-left: 0;
    } 
}


/*Contact*/
#cmain{
    width: 80%;
    margin: auto;
    margin-top: 50px;
    //background-color: antiquewhite;
}

#contactd{
    color: rgb(255, 160, 1);
}



/*Form*/
.form{
    font-size: 20px;
}


.formtitle{
    font-size: 50px;
    //margin-top: 50px;
    color: black;
    font-family: agenda, san-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 1.5px;
}



.formdes{
    font-size: 17px;
    margin-left: 12px;
    line-height: 25px;
    color: black;
}
.formlabel{
    color: black;
    font-family: agenda, san-serif;
    font-size: 25px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 1.5px;
}
.formitem{
    margin: 20px;
    display: inline-block;
    margin-left: 12px;
}

/*
.formlabeldes{
    color: white;
    margin: 15px;
    padding: 2px;
}
.amount{
    margin: 10px;
    margin-left: 30px;
    color: black;
    font-size: 17px;
}
.option{
    background-color: lightgray;
    padding: 3px;
    width: 75px;
}*/


.forminput{
    color: black;
    width: 100%;
    max-width: 325px;
    padding: 5px;
    margin-top: 7px;
    font-size: 15px;
    font-family: agenda, san-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 1.5px;
    outline: none;
    background-color: rgb(134,141,143);
    border: none;
}
.forminput:focus{
    background-color: rgb(212, 212, 212);  
}
.forminputsmall{
    color: black;
    width: 100%;
    max-width: 200px;
    padding: 5px;
    font-size: 15px;
    font-family: agenda, san-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 1.5px;
    outline: none;
    background-color: rgb(134,141,143);
    border: none;
}
.forminputsmall:focus{
    background-color: rgb(212, 212, 212);  
}

textarea.forminput{
    resize: none;
    min-height: 200px;
}
.formbutton{
    font-size: 20px;
    font-family: agenda, san-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 1.5px;
    padding: 10px;
    margin: 12px;
    border: none;
    background-color: rgb(255, 160, 1);
}
.formbutton:active{
    background-color: rgb(212, 212, 212);
}
    
    
@media screen and (max-width: 450px){
    .forminput{
        background-color:aqua;
        font-size: 500px;
    }
    
}
